.home{
    background: linear-gradient(102.18deg, #C0C0BE 26.06%, #DDDDDB 81.79%);
    border-radius: 24px;
    margin-top: 40px;
    width: 95%;
    height: 480px;
display: flex;
justify-content: space-evenly;
position: relative;

  .home-left{
    padding-top: 20px;
    padding-left: 30px;
    h1{
        font-size: 90px;
      
        
    }
    .top-he{
          max-width: 796px;
        width: 100%;
    }
    .bottom-h1{
        display: flex;
        align-items: center;
        gap: 30px;
        flex-wrap: wrap;
    }
  }
}
@media (max-width:1024px) {
    .home{
        flex-direction: column;
        height: auto;
        align-items: center;
        .home-left{
            text-align: center;
            h1{
                width: 100%;
            }
            .bottom-h1{
              justify-content: center;
            }
        }

    }
}
@media (max-width:768px) {
    .home{
        flex-direction: column;
        height: auto;
        align-items: center;
        gap: 30px;
        .home-left{
            padding-left: 0;
            padding-top: 0;
            h1{
                font-size: 50px;
            }
            text-align: center;
            width: 100%;
            .bottom-h1{
              justify-content: center;
            }
        }
        .home-right{
            img{
                width: 100%;
            }
        }

    }  
}