.button-head{
width: 300px;
height: 80px;
font-size: 24px;
font-weight: 600;
background-color: #E2AC8B;
display: flex;
align-items: center;
justify-content: center;
border-radius: 110px;
border: 1px solid black;
transition: 0.5s;
&:hover{
    transform: scale(1.2);
}
}
.button-shop{
    width: 156px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 34px;
   font-family: poppins;
}
.button-color{
    background-color: #F7926E;
}
@media (max-width:768px) {
   .button-head{
    width: 200px;
    height: 60px;
    font-size: 22px;
   }
}